name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: |
        cd mobile
        npm ci
    - name: Run Tests
      run: |
        cd mobile
        npm test
